.about_wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--dark);
        padding: 9vh 0 6vh 0;
}

.about_right {
    height: fit-content;
    width: 60vw;
    /* background-color: var(--primary); */
    position: relative;
    z-index: 2;
    padding: 6vh;
    line-height: 2em;
}

.profile_wrapper {
    /* margin: 6vh 0 0 6vh; */
    width: 40vw;
    display: flex;
    justify-content:center;
    align-items: center;
}
.profile {
    /* position: relative; */
    /* width: 40vw; */
    /* background-color: pink; */
    /* display: flex;
    justify-content:center; */
    /* z-index: 3; */
    /* border: 3px solid white; */
    /* z-index: 999; */
    /* margin: 3vh 0 0 3vh; */
    /* -webkit-filter: grayscale(100%); */
    margin:auto;
    width: 75%;
    filter: drop-shadow(2.5vh -2.5vh 0px var(--accent_blue));
}

.profile_main {
    /* width: 200px;
    height: 200px; */
    /* height: 30vw; */
    width: 100%;
    /* max-height: 400px; */
    object-fit: cover;
    /* margin:auto; */
    border: 3px solid white;
}

.profile_hover {
    /* transform: translateY(2.5vh); */
    width:100%;
    object-fit: cover;
    z-index: 999;
    position:absolute;
    top: 0;
    left:0;
    border: 3px solid white;
}

.profile .profile_hover {
    /* display: none; */
    opacity: 0;
    transition: opacity .2s;
    
}
.profile:hover > img:nth-child(2) {
    /* display: block; */
    opacity: 1;
    cursor: pointer;
    
  }

  .about_title {
    font-size: 2em;
    color: var(--accent_blue);
    /* font-weight: 700; */
    font-weight: 500;
    margin: 0;
    padding-bottom: 3vh;
}

@media only screen and (max-width: 768px) {
    .about_wrapper {
        flex-direction: column;
        display: table;
        padding: 6vh;
    }
    .profile_wrapper {
        display: table-footer-group flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 6vh;
        padding:0;
        width: 100%;
    }
    .about_right {
        display:table-header-group;
    }
    .profile {
        width: fit-content;
    }
    .profile_main, .profile_hover {
        width: 50vw;
        height: 50vw;
    }
    

    /* .profile_main,.profile_hover {
        width: 50%;
        height: auto;
    } */
}

@media only screen and (max-width: 600px) {
    .about_title{
      margin:auto;
      width: fit-content;
    }
    .about_right {
        text-align: center;
    }
  }