.about {
    height: calc(200px + 3vh);
    margin-bottom: 30px;
}

.about_body_right {
    transform: skewX(-10deg) translateX(35vw) translateY(calc(-210px - 3vh));
    width: 100vw;
    height: 200px;
    background: var(--dark);  
}

.profile_wrapper {
    position: relative;
}

.profile {
    position: relative;
    width: 200px;
    height: 200px;
     
    /* border: 3px solid white; */
    /* z-index: 999; */
    margin: 3vh 0 0 3vh;
    /* -webkit-filter: grayscale(100%); */
    filter: drop-shadow(2.5vh -2.5vh 0px var(--accent_blue));
}

.profile_main {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid white;
}

.profile_hover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 999;
    position:absolute;
    top: 0;
    left:0;
    border: 3px solid white;
}

.profile .profile_hover {
    /* display: none; */
    opacity: 0;
    transition: opacity .2s;
    
}
.profile:hover > img:nth-child(2) {
    /* display: block; */
    opacity: 1;
    cursor: pointer;
    
  }

/* .profile:hover{
    background: url("/images/portfolio_2.jpg") no-repeat;
    background-size: cover;
} */

/* .profile_decor {
    margin: 3vh;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: var(--accent_blue);
    top: 0;
    left: 0;
    transform: translateY(-20px) translateX(20px);
} */
