.contact {
    width: 100vw;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 10vh 0;
}

.contact_title {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    margin:0;
    padding-bottom: 6vh;
    z-index: 999;
}

.contact_line {
    border-top: 3px solid var(--accent_blue);
}

.contact_info {
    display: flex;
    flex-direction: column;
    width:fit-content;
    z-index: 999;
}

.contact_icon {
    filter: grayscale(100%) brightness(100);
    margin: 20px;
}

.contact_social {
    align-items: center;
    display: flex;
}

.coffee_stain {
    position: absolute;
    /* height: 40vw; */
    right: -15vh;
    top: -15vh;
    height: 40vw;
    max-height: 600px;
    /* overflow: hidden; */
}

.coffee_mug {
    overflow-y: hidden;
    z-index: 2;
    position: absolute;
    right: -8vh;
    top: -20vh;
    height: 40vw;
    max-height: 600px;
}

@media only screen and (max-width: 768px) {
  .coffee_mug, .coffee_stain {
      display:none;
  }
}
