@import "./hero.css";
@import "./project.css";
@import "./navigation.css";
@import "./about.css";
@import "./contact.css";
@import "./tech.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #95e5db;
  /* --primary: rgb(133, 246, 250); */
  --light: rgb(152,84,201);
  --accent: rgb(211, 86, 134);
  --accent_blue: rgb(255, 208, 0);
  /* --accent_blue: rgb(255, 173, 21); */
  --dark: rgb(78, 135, 145);
  --grey: rgb(227, 236, 238);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.main {
  background: var(--primary);
  background: radial-gradient(circle, var(--primary) 0%, rgb(133, 214, 205) 21%, rgb(125, 196, 187) 43%, rgb(98, 165, 157) 78%);
  color: white;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  letter-spacing: 1px;
  list-style: none;
  text-align: right;
}

.section_title {
  padding: 6vh 6vh 3vh 6vh;
  width: fit-content;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2em;
  color: white;
  margin:0;
  margin-top: 3vh;
}

.section_subtitle {
  padding: 12px 6vh 12px 6vh;
  width: 100vw;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1em;
  color: white;
  margin:0;
  transform: translateY(-2vh);
}

.yellow {
  color: var(--accent_blue);
}

.gap {
  margin-top: 3vh;
}

footer {
  background-color: var(--accent_blue);
  padding: 10px;
  color: var(--dark);
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .section_title {
    margin:auto;
    /* width: fit-content; */
    font-size: 1.5em;
  }
  .section_subtitle {
    font-size: 1em;
    margin:auto;
    width: fit-content;
  }
}