
.hero_text_name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.fullname {
    margin:0;
    font-size: 4em;
    letter-spacing: 2px;
    font-weight: 600;
}

.arrow {
    width: 10vw;
    filter: drop-shadow( 3px 3px 1px rgba(255, 177, 9, 0.603))
}

.hero_text_description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#textAnimation {
    font-size:2em;
    font-weight: 300;
    margin: 0;
    letter-spacing: 2px;
}

.cursor {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--accent_blue);
    /* color: rgb(204, 204, 204); */
}

.cursorActive{
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    color: transparent;
  }
}

@media only screen and (max-width: 768px) {
    .hero_text_name {
        margin-top: 6vh;
    }
}

@media only screen and (max-width: 600px) {
    .fullname {
        font-size: 2em;
    }
}
