.projects {
    height: fit-content;
}

.project_body_left {
    transform: skewX(-10deg)translateX(-20vw);
    width: 100vw;
    height: 200px;
    background: var(--dark);   
}

.project_body_right {
    transform: skewX(-10deg) translateX(20vw);
    width: 100vw;
    height: 200px;
    background: var(--dark);     
}

.mock1 {
    /* display: flex;
    align-items: center; */
    width: 100vw;
    margin-bottom: 30px;
    position: relative;
    height: fit-content;
}

.mock_plantiful {
    height: 180px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* transform: translateX(-25vw); */
    /* position: absolute;
    right: 0;
    bottom: 0; */
}

.mock_cardshare {
    height: 180px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.mock_fitome {
    height: 180px;
    position: absolute;
    top: 10px;
    left: -5vw;
}

.project_left_content {
    position: absolute;
    top:0;
    left: 10vh;
}

.project_right_content {
    position: absolute;
    top:0;
    right: 10vh;
    text-align: right;
}

.project_left_name {
    /* transform: translateX(23vw); */
    /* margin: 0; */
    font-size: 1em;
    font-weight: 500;
    color: var(--accent_blue)
}

.project_title {
    margin-bottom: 0;
}

.details {
    transform: rotate(90deg);
    color: var(--accent_blue);
    width: fit-content;
    letter-spacing: -3px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.details:hover {
    cursor: pointer;
}

.project_left_description {
    width: 60%;
}

.project_detail {
    color: var(--dark);
    background-color: var(--accent_blue);
    position: relative;
    /* top:200px; */
    left: 10vh;
    margin:0;
}

.project_detail_title {
    text-decoration: underline;
    text-decoration-color: white;
    font-weight: 500;
    font-size: 1em;
}