.tech_panel {
    width: calc(100% - 12vh);
    display: flex;
    justify-content: space-between;
    margin: 0 6vh 3vh 6vh;
}

.tech_column {
    /* background-color: var(--dark); */
    /* width: 28vw; */
    /* text-align: center; */
    border-left: 3px solid white;
    padding: 0 6vh;
    padding-right: 12vh
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.tech_column ul {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    padding: 0;
    line-height: 2em;
}

.tech_column_title {
    margin:0;
    font-weight: 500;
    font-size: 2em;
    color: var(--accent_blue)
}

.tech_list {
    /* list-style:circle; */
    text-align: left;
    font-size: 1em;
    font-weight: 300;
}